/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature-flags__container {
    background-color: #d92b2b;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100dvh;
}

.feature-flags__container section {
    background-color: #FAFAFA;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.feature-flags__container section div {
    margin: 0.75rem 0;
}

.feature-flags__container section input {
    padding: 0.5rem;
}